@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Krishna</h1>
    <h2>I have taken this solution from git</h2>

    <h2>I am from second branch</h2>

    <h2>I am from First Brancht</h2>
    <p>Learn about <a href="/Home/AboutUs">About Us</a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
